/*
*.swp
var/db/portage/repos/local/metadata/md5-cache/

!/.gitignore

!usr/
usr/*
!usr/portage

!etc/
etc/*
!etc/portage/
!etc/fstab
!etc/locale.gen
!etc/timezone

!var/
var/*
!var/db/
var/db/*
!var/db/portage/
var/db/portage/*
!var/db/portage/repos/
var/db/portage/repos/*
!var/db/portage/repos/local
