[submodule "gentoo-repo"]
	path = var/db/portage/repos/gentoo
	url = https://anongit.gentoo.org/git/repo/sync/gentoo.git
	shallow = true
[submodule "mv"]
	path = var/db/portage/repos/mv
	url = https://anongit.gentoo.org/git/user/mv.git
	shallow = true
